<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/onlineshopwebsitetemplate/lib/easing/easing.min.js"></script>
<script src="~/onlineshopwebsitetemplate/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/onlineshopwebsitetemplate/mail/jqBootstrapValidation.min.js"></script>
<script src="~/onlineshopwebsitetemplate/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/onlineshopwebsitetemplate/js/main.js"></script>